.addButton {
    box-shadow:0 4px 8px rgba(0,0,0,0.5);
    background-color: #b322a3;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;
    color: white;
    margin-left: 60px;
}

.addButton:hover {
    background-color: hotpink;
    transform: scale(1.05);
    transition: transform 0.3s ease;

}